.website-window-container {
    min-height: 550px; /* Adjust this if needed */
    padding: 20px; /* Space around the window */
    background-color: white; /* Background color for the container */
    border-radius: 15px; /* Rounded corners */
    margin: 60px 0;
}

.website-window {
    background-color: #1B2A41; /* Dark blue background */
    border-radius: 15px; /* Rounded corners */
    width: 90%;
    max-width: 80%; /* Maximum width for the window */
    height: 650px; /* Fixed height for the window */
    overflow: hidden; /* Hide any overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 80px rgba(36, 47, 65, 1), 0 6px 20px rgba(36, 47, 65, 1); /* Box shadow */
}

.website-iframe {
    width: 100%; /* Full width of the parent container */
    height: 100%; /* Full height of the parent container */
    border: none; /* Remove the border of the iframe */
    border-radius: 10px; /* Optional: rounded corners for the iframe */
}

/* Media query for small screens */
@media (max-width: 768px) {  /* Adjust the width threshold as needed */
    .website-window {
        height: 450px; /* Set the height to 450px for small screens */
    }
}
